<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password Reset Successful</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f0f0f0;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            .message-container {
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                padding: 30px;
                text-align: center;
                max-width: 400px;
            }

            h1 {
                font-size: 24px;
                color: black;
            }

            .fa-circle-xmark {
                color: rgb(242, 35, 35);
                font-size: 48px;
                margin: 20px 0;
            }

            p {
                font-size: 16px;
                margin: 20px 0;
            }

            .back-to-home {
                background-color: #5237d6;
                color: #fff;
                border: none;
                border-radius: 5px;
                padding: 10px 20px;
                font-size: 16px;
                cursor: pointer;
                text-decoration: none;
                display: inline-block;
                margin-top: 20px;
            }
        </style>
    </head>

    <body>
        <div class="message-container">
            <i class="fa-regular fa-circle-xmark"></i>
            <h1>Failed to reset password!</h1>
            <p>Unfortunately we are unable to reset your password. Please try later.</p>
            <a href="https://assemblescript.vercel.app/login-signup">
                <button class="back-to-home">Back to AssembleScript</button>
            </a>
        </div>
    </body>

</html>